swagger: '2.0'
info:
  contact:
    name: OneLogin
    url: 'https://support.onelogin.com'
  description: OpenAPI Specification for OneLogin
  title: OneLogin API
  version: 1.0.0
host: api.us.onelogin.com
basePath: /
schemes:
  - https
paths:
  /api/1/events:
    get:
      produces:
        - application/json
      parameters:
        - collectionFormat: multi
          in: query
          items:
            type: integer
          name: event_type_id
          type: array
        - in: query
          name: client_id
          type: integer
        - in: query
          name: directory_id
          type: integer
        - in: query
          name: id
          required: true
          type: integer
        - in: query
          name: created_at
          type: string
        - in: query
          name: resolution
          type: string
        - in: query
          name: since
          type: string
        - in: query
          name: until
          type: string
        - in: query
          name: user_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            properties:
              data:
                items:
                  properties:
                    account_id:
                      description: Account that triggered the event.
                      type: integer
                    actor_system:
                      description: >-
                        Acting system that triggered the event when the actor is
                        not a user.
                      type: string
                    actor_user_id:
                      description: ID of the user whose action triggered the event.
                      type: integer
                    actor_user_name:
                      description: >-
                        First and last name of the user whose action triggered
                        the event.
                      type: string
                    adc_id:
                      type: integer
                    app-name:
                      description: 'Name of the app involved in the event, if applicable.'
                      type: string
                    app_id:
                      description: 'ID of the app involved in the event, if applicable.'
                      type: integer
                    assumed_by_superadmin_or_reseller:
                      type: integer
                    assuming_acting_user_id:
                      description: >-
                        ID of the user who assumed the role of the acting user
                        to trigger the event, if applicable.
                      type: integer
                    certificate_id:
                      type: integer
                    client_id:
                      description: >-
                        Client ID used to generate the access token that made
                        the API call that generated the event.
                      type: string
                    created_at:
                      description: >-
                        ISO8601 Time and date at which the event was created.
                        This value is autogenerated by OneLogin.
                      type: string
                    custom_message:
                      description: More details about the event.
                      type: string
                    directory_sync_run_id:
                      description: Directory sync run ID.
                      type: integer
                    error_description:
                      description: 'Provisioning error details, if applicable.'
                      type: string
                    event_type_id:
                      description: Type of event triggered.
                      enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                        - 13
                        - 14
                        - 15
                        - 16
                        - 17
                        - 18
                        - 19
                        - 20
                        - 21
                        - 22
                        - 23
                        - 24
                        - 25
                        - 26
                        - 27
                        - 28
                        - 29
                        - 30
                        - 31
                        - 32
                        - 33
                        - 34
                        - 35
                        - 36
                        - 37
                        - 38
                        - 39
                        - 40
                        - 41
                        - 42
                        - 43
                        - 44
                        - 45
                        - 46
                        - 47
                        - 48
                        - 49
                        - 50
                        - 51
                        - 52
                        - 53
                        - 54
                        - 55
                        - 56
                        - 57
                        - 58
                        - 59
                        - 60
                        - 61
                        - 62
                        - 63
                        - 64
                        - 65
                        - 66
                        - 67
                        - 68
                        - 69
                        - 70
                        - 71
                        - 72
                        - 73
                        - 74
                        - 75
                        - 76
                        - 77
                        - 78
                        - 79
                        - 80
                        - 81
                        - 82
                        - 83
                        - 84
                        - 85
                        - 86
                        - 87
                        - 88
                        - 89
                        - 90
                        - 91
                        - 92
                        - 95
                        - 96
                        - 100
                        - 101
                        - 102
                        - 103
                        - 104
                        - 105
                        - 106
                        - 110
                        - 111
                        - 112
                        - 113
                        - 114
                        - 115
                        - 116
                        - 117
                        - 118
                        - 119
                        - 120
                        - 121
                        - 122
                        - 123
                        - 124
                        - 125
                        - 126
                        - 127
                        - 128
                        - 129
                        - 130
                        - 131
                        - 132
                        - 133
                        - 134
                        - 135
                        - 136
                        - 137
                        - 138
                        - 139
                        - 140
                        - 141
                        - 145
                        - 146
                        - 147
                        - 148
                        - 149
                        - 150
                        - 151
                        - 152
                        - 153
                        - 154
                        - 155
                        - 156
                        - 157
                        - 158
                        - 159
                        - 160
                        - 161
                        - 162
                        - 163
                        - 164
                        - 165
                        - 166
                        - 167
                        - 168
                        - 169
                        - 170
                        - 171
                        - 172
                        - 173
                        - 174
                        - 175
                        - 176
                        - 177
                        - 178
                        - 179
                        - 180
                        - 181
                        - 182
                        - 183
                        - 184
                        - 185
                        - 186
                        - 187
                        - 188
                        - 189
                        - 190
                        - 191
                        - 192
                        - 193
                        - 194
                        - 195
                        - 196
                        - 197
                        - 198
                        - 199
                        - 200
                        - 201
                        - 202
                        - 203
                        - 204
                        - 205
                        - 206
                        - 207
                        - 208
                        - 209
                        - 210
                        - 211
                        - 212
                        - 213
                        - 214
                        - 215
                        - 216
                        - 217
                        - 218
                        - 219
                        - 220
                        - 221
                        - 222
                        - 223
                        - 224
                        - 225
                        - 226
                        - 227
                        - 228
                        - 229
                        - 230
                        - 231
                        - 232
                        - 233
                        - 234
                        - 235
                        - 236
                        - 237
                        - 238
                        - 239
                        - 240
                        - 241
                        - 242
                        - 243
                        - 244
                        - 245
                        - 246
                        - 247
                        - 248
                        - 249
                        - 250
                        - 251
                        - 252
                        - 253
                        - 254
                        - 255
                        - 291
                        - 300
                        - 301
                        - 303
                        - 304
                        - 305
                        - 306
                        - 307
                        - 330
                        - 331
                        - 332
                        - 333
                        - 334
                        - 400
                        - 401
                        - 402
                        - 410
                        - 411
                        - 412
                        - 501
                        - 502
                        - 503
                        - 510
                        - 511
                        - 512
                        - 513
                        - 514
                        - 515
                        - 516
                        - 517
                        - 518
                        - 519
                        - 520
                        - 521
                        - 522
                        - 523
                        - 524
                        - 525
                        - 526
                        - 527
                        - 528
                        - 529
                        - 530
                        - 531
                        - 532
                        - 533
                        - 534
                        - 535
                        - 536
                        - 537
                        - 538
                        - 539
                        - 540
                        - 541
                        - 542
                        - 545
                        - 546
                        - 550
                        - 551
                        - 552
                        - 553
                        - 554
                        - 555
                        - 600
                        - 601
                        - 602
                        - 700
                        - 701
                        - 702
                        - 703
                        - 704
                        - 705
                        - 706
                        - 800
                        - 801
                        - 802
                        - 803
                        - 804
                        - 805
                        - 900
                        - 901
                        - 902
                        - 903
                        - 904
                        - 905
                        - 906
                        - 907
                        - 911
                        - 912
                        - 931
                        - 932
                        - 950
                        - 1001
                        - 1002
                        - 1010
                        - 1100
                        - 1101
                        - 1200
                        - 1201
                        - 1244
                        - 1245
                        - 1300
                        - 1301
                        - 1302
                        - 1303
                        - 1304
                        - 1305
                        - 1400
                        - 1401
                        - 1402
                        - 1403
                        - 1404
                        - 1405
                        - 1406
                        - 1407
                        - 1408
                        - 1409
                        - 1410
                        - 1411
                        - 1412
                        - 1413
                        - 1414
                        - 1415
                        - 1416
                        - 1417
                        - 1418
                        - 1419
                        - 1420
                        - 1421
                        - 1422
                        - 1423
                        - 1424
                        - 1500
                        - 1501
                        - 1502
                        - 1503
                        - 1504
                        - 1505
                        - 1506
                        - 1507
                        - 1508
                        - 1509
                        - 1510
                        - 1511
                        - 1512
                        - 1513
                        - 1514
                        - 1600
                        - 1601
                        - 1602
                        - 1603
                        - 1604
                        - 1605
                        - 1606
                        - 1607
                        - 1608
                        - 1609
                        - 1700
                        - 1701
                        - 1702
                        - 1801
                        - 1802
                        - 1900
                        - 1901
                        - 1902
                        - 1903
                        - 1904
                        - 1905
                        - 2000
                        - 2001
                        - 2002
                        - 2003
                        - 2004
                        - 2005
                        - 2006
                        - 2007
                        - 2008
                        - 2009
                        - 2010
                        - 2011
                        - 2012
                        - 2013
                        - 2014
                        - 2015
                        - 2016
                        - 2017
                        - 2018
                        - 2100
                        - 2101
                        - 2102
                        - 2103
                        - 2104
                        - 2105
                        - 2106
                        - 2107
                        - 2108
                        - 2109
                        - 2110
                        - 2111
                        - 2112
                        - 2113
                        - 2114
                        - 2201
                        - 2202
                        - 2203
                        - 2204
                        - 3000
                        - 3001
                        - 3002
                        - 3003
                        - 3004
                        - 3005
                        - 3006
                        - 3007
                        - 3008
                        - 3009
                        - 3010
                        - 3011
                        - 3012
                        - 3013
                        - 3014
                        - 3015
                        - 3016
                        - 3017
                        - 3018
                        - 3019
                        - 3020
                        - 3021
                        - 3022
                        - 3023
                        - 3024
                        - 3025
                        - 3026
                        - 3027
                        - 3028
                        - 9000
                        - 9001
                        - 9002
                        - 9003
                        - 9004
                        - 9005
                        - 9006
                        - 9007
                        - 9008
                        - 9009
                        - 9010
                        - 9011
                        - 9012
                        - 9013
                        - 9014
                        - 9015
                        - 9016
                        - 9017
                        - 9018
                        - 9019
                        - 9020
                        - 9021
                        - 9022
                        - 9023
                        - 9024
                        - 9025
                        - 9026
                        - 9027
                        - 9028
                        - 9029
                        - 9030
                        - 9031
                        - 9032
                        - 9033
                        - 9034
                        - 9035
                        - 9036
                        - 9037
                        - 9038
                        - 9039
                        - 9040
                        - 9041
                        - 9042
                        - 9043
                        - 9044
                        - 9045
                        - 9046
                        - 9047
                        - 9048
                        - 9049
                        - 9050
                        - 9051
                        - 9052
                        - 9053
                        - 9054
                        - 9055
                        - 9056
                        - 9057
                        - 9058
                        - 9059
                      type: integer
                    group-name:
                      description: Name of a group involved in the event.
                      type: string
                    group_id:
                      description: ID of a group involved in the event.
                      type: integer
                    id:
                      description: >-
                        Event's unique ID in OneLogin. Autogenerated by
                        OneLogin.
                      type: integer
                    ipaddr:
                      description: IP address of the machine used to trigger the event.
                      type: string
                    mapping_id:
                      type: integer
                    notes:
                      description: More details about the event.
                      type: string
                    object_id:
                      type: integer
                    otp_device_id:
                      description: ID of a device involved in the event.
                      type: integer
                    otp_device_name:
                      description: Name of a device involved in the event.
                      type: string
                    param:
                      type: string
                    policy_id:
                      description: ID of the policy involved in the event.
                      type: integer
                    policy_name:
                      description: Name of the policy involved in the event.
                      type: string
                    policy_type:
                      type: string
                    privilege_id:
                      type: integer
                    proxy_ip:
                      type: string
                    radius_config_id:
                      type: integer
                    resolved_at:
                      type: string
                    resource_type_id:
                      description: >-
                        ID of the resource (user, role, group, and so forth)
                        associated with the event.
                      type: integer
                    risk_cookie_id:
                      description: Identifier for risk cookie
                      type: string
                    risk_reasons:
                      type: string
                    risk_score:
                      type: integer
                    role_id:
                      description: ID of a role involved in the event.
                      type: integer
                    role_name:
                      description: Name of a role involved in the event.
                      type: string
                    service_directory_id:
                      type: integer
                    solved:
                      type: boolean
                    trusted_idp_id:
                      type: integer
                    user_field_id:
                      type: integer
                    user_id:
                      description: ID of the user that was acted upon to trigger the event.
                      type: integer
                    user_name:
                      description: >-
                        Name of the user that was acted upon to trigger the
                        event.
                      type: string
                  type: object
                type: array
              pagination:
                properties:
                  after_cursor:
                    example: xWNjb3VudF9pZDo6OjUzNDEzLS0jI2lkOjo6OTA0MjU3NTQ2
                    type: string
                  before_cursor:
                    example: '""'
                    type: string
                  next_link:
                    example: >-
                      https://{subdomain}.onelogin.com/api/1/events?after_cursor=xWNjb3VudF9pZDo6OjUzNDEzLS0jI2lkOjo6OTA0MjU3NTQ2
                    type: string
                  previous_link:
                    example: '""'
                    type: string
                type: object
              status:
                properties:
                  code:
                    example: 200
                    type: integer
                  error:
                    example: false
                    type: boolean
                  message:
                    example: Success
                    type: string
                  type:
                    example: Success
                    type: string
                required:
                  - code
                  - message
                type: object
            type: object
        '400':
          description: Bad Request
          examples:
            application/json:
              code: 400
              error: true
              message: Request Failure
              type: bad request
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
        '401':
          description: Unauthorized
          examples:
            application/json:
              code: 401
              error: true
              message: Unauthorized Error
              type: Unauthorized
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
      security:
        - OAuth2:
            - Read Users
            - Manage users
            - Manage All
            - Read All
      tags:
        - Events
      description: Get Events
      operationId: getEvents
      summary: Get Events
  /api/1/events/types:
    get:
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
      responses:
        '200':
          description: Successful response
          schema:
            properties:
              data:
                items:
                  properties:
                    description:
                      example: App %app% removed from role %role%
                      type: string
                    id:
                      example: 2
                      type: integer
                    name:
                      example: APP_REMOVED_FROM_ROLE
                      type: string
                  type: object
                type: array
              status:
                properties:
                  code:
                    example: 200
                    type: integer
                  error:
                    example: false
                    type: boolean
                  message:
                    example: Success
                    type: string
                  type:
                    example: Success
                    type: string
                required:
                  - code
                  - message
                type: object
            type: object
      tags:
        - Events
      description: Get Event types
      operationId: getEventTypes
      summary: Get Event Types
  '/api/1/events/{event_id}':
    get:
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          required: true
          type: string
          x-example: 'bearer:{{access_token}}'
        - in: path
          name: event_id
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            properties:
              data:
                properties:
                  account_id:
                    description: Account that triggered the event.
                    type: integer
                  actor_system:
                    description: >-
                      Acting system that triggered the event when the actor is
                      not a user.
                    type: string
                  actor_user_id:
                    description: ID of the user whose action triggered the event.
                    type: integer
                  actor_user_name:
                    description: >-
                      First and last name of the user whose action triggered the
                      event.
                    type: string
                  adc_id:
                    type: integer
                  app-name:
                    description: 'Name of the app involved in the event, if applicable.'
                    type: string
                  app_id:
                    description: 'ID of the app involved in the event, if applicable.'
                    type: integer
                  assumed_by_superadmin_or_reseller:
                    type: integer
                  assuming_acting_user_id:
                    description: >-
                      ID of the user who assumed the role of the acting user to
                      trigger the event, if applicable.
                    type: integer
                  certificate_id:
                    type: integer
                  client_id:
                    description: >-
                      Client ID used to generate the access token that made the
                      API call that generated the event.
                    type: string
                  created_at:
                    description: >-
                      ISO8601 Time and date at which the event was created. This
                      value is autogenerated by OneLogin.
                    type: string
                  custom_message:
                    description: More details about the event.
                    type: string
                  directory_sync_run_id:
                    description: Directory sync run ID.
                    type: integer
                  error_description:
                    description: 'Provisioning error details, if applicable.'
                    type: string
                  event_type_id:
                    description: Type of event triggered.
                    enum:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 13
                      - 14
                      - 15
                      - 16
                      - 17
                      - 18
                      - 19
                      - 20
                      - 21
                      - 22
                      - 23
                      - 24
                      - 25
                      - 26
                      - 27
                      - 28
                      - 29
                      - 30
                      - 31
                      - 32
                      - 33
                      - 34
                      - 35
                      - 36
                      - 37
                      - 38
                      - 39
                      - 40
                      - 41
                      - 42
                      - 43
                      - 44
                      - 45
                      - 46
                      - 47
                      - 48
                      - 49
                      - 50
                      - 51
                      - 52
                      - 53
                      - 54
                      - 55
                      - 56
                      - 57
                      - 58
                      - 59
                      - 60
                      - 61
                      - 62
                      - 63
                      - 64
                      - 65
                      - 66
                      - 67
                      - 68
                      - 69
                      - 70
                      - 71
                      - 72
                      - 73
                      - 74
                      - 75
                      - 76
                      - 77
                      - 78
                      - 79
                      - 80
                      - 81
                      - 82
                      - 83
                      - 84
                      - 85
                      - 86
                      - 87
                      - 88
                      - 89
                      - 90
                      - 91
                      - 92
                      - 95
                      - 96
                      - 100
                      - 101
                      - 102
                      - 103
                      - 104
                      - 105
                      - 106
                      - 110
                      - 111
                      - 112
                      - 113
                      - 114
                      - 115
                      - 116
                      - 117
                      - 118
                      - 119
                      - 120
                      - 121
                      - 122
                      - 123
                      - 124
                      - 125
                      - 126
                      - 127
                      - 128
                      - 129
                      - 130
                      - 131
                      - 132
                      - 133
                      - 134
                      - 135
                      - 136
                      - 137
                      - 138
                      - 139
                      - 140
                      - 141
                      - 145
                      - 146
                      - 147
                      - 148
                      - 149
                      - 150
                      - 151
                      - 152
                      - 153
                      - 154
                      - 155
                      - 156
                      - 157
                      - 158
                      - 159
                      - 160
                      - 161
                      - 162
                      - 163
                      - 164
                      - 165
                      - 166
                      - 167
                      - 168
                      - 169
                      - 170
                      - 171
                      - 172
                      - 173
                      - 174
                      - 175
                      - 176
                      - 177
                      - 178
                      - 179
                      - 180
                      - 181
                      - 182
                      - 183
                      - 184
                      - 185
                      - 186
                      - 187
                      - 188
                      - 189
                      - 190
                      - 191
                      - 192
                      - 193
                      - 194
                      - 195
                      - 196
                      - 197
                      - 198
                      - 199
                      - 200
                      - 201
                      - 202
                      - 203
                      - 204
                      - 205
                      - 206
                      - 207
                      - 208
                      - 209
                      - 210
                      - 211
                      - 212
                      - 213
                      - 214
                      - 215
                      - 216
                      - 217
                      - 218
                      - 219
                      - 220
                      - 221
                      - 222
                      - 223
                      - 224
                      - 225
                      - 226
                      - 227
                      - 228
                      - 229
                      - 230
                      - 231
                      - 232
                      - 233
                      - 234
                      - 235
                      - 236
                      - 237
                      - 238
                      - 239
                      - 240
                      - 241
                      - 242
                      - 243
                      - 244
                      - 245
                      - 246
                      - 247
                      - 248
                      - 249
                      - 250
                      - 251
                      - 252
                      - 253
                      - 254
                      - 255
                      - 291
                      - 300
                      - 301
                      - 303
                      - 304
                      - 305
                      - 306
                      - 307
                      - 330
                      - 331
                      - 332
                      - 333
                      - 334
                      - 400
                      - 401
                      - 402
                      - 410
                      - 411
                      - 412
                      - 501
                      - 502
                      - 503
                      - 510
                      - 511
                      - 512
                      - 513
                      - 514
                      - 515
                      - 516
                      - 517
                      - 518
                      - 519
                      - 520
                      - 521
                      - 522
                      - 523
                      - 524
                      - 525
                      - 526
                      - 527
                      - 528
                      - 529
                      - 530
                      - 531
                      - 532
                      - 533
                      - 534
                      - 535
                      - 536
                      - 537
                      - 538
                      - 539
                      - 540
                      - 541
                      - 542
                      - 545
                      - 546
                      - 550
                      - 551
                      - 552
                      - 553
                      - 554
                      - 555
                      - 600
                      - 601
                      - 602
                      - 700
                      - 701
                      - 702
                      - 703
                      - 704
                      - 705
                      - 706
                      - 800
                      - 801
                      - 802
                      - 803
                      - 804
                      - 805
                      - 900
                      - 901
                      - 902
                      - 903
                      - 904
                      - 905
                      - 906
                      - 907
                      - 911
                      - 912
                      - 931
                      - 932
                      - 950
                      - 1001
                      - 1002
                      - 1010
                      - 1100
                      - 1101
                      - 1200
                      - 1201
                      - 1244
                      - 1245
                      - 1300
                      - 1301
                      - 1302
                      - 1303
                      - 1304
                      - 1305
                      - 1400
                      - 1401
                      - 1402
                      - 1403
                      - 1404
                      - 1405
                      - 1406
                      - 1407
                      - 1408
                      - 1409
                      - 1410
                      - 1411
                      - 1412
                      - 1413
                      - 1414
                      - 1415
                      - 1416
                      - 1417
                      - 1418
                      - 1419
                      - 1420
                      - 1421
                      - 1422
                      - 1423
                      - 1424
                      - 1500
                      - 1501
                      - 1502
                      - 1503
                      - 1504
                      - 1505
                      - 1506
                      - 1507
                      - 1508
                      - 1509
                      - 1510
                      - 1511
                      - 1512
                      - 1513
                      - 1514
                      - 1600
                      - 1601
                      - 1602
                      - 1603
                      - 1604
                      - 1605
                      - 1606
                      - 1607
                      - 1608
                      - 1609
                      - 1700
                      - 1701
                      - 1702
                      - 1801
                      - 1802
                      - 1900
                      - 1901
                      - 1902
                      - 1903
                      - 1904
                      - 1905
                      - 2000
                      - 2001
                      - 2002
                      - 2003
                      - 2004
                      - 2005
                      - 2006
                      - 2007
                      - 2008
                      - 2009
                      - 2010
                      - 2011
                      - 2012
                      - 2013
                      - 2014
                      - 2015
                      - 2016
                      - 2017
                      - 2018
                      - 2100
                      - 2101
                      - 2102
                      - 2103
                      - 2104
                      - 2105
                      - 2106
                      - 2107
                      - 2108
                      - 2109
                      - 2110
                      - 2111
                      - 2112
                      - 2113
                      - 2114
                      - 2201
                      - 2202
                      - 2203
                      - 2204
                      - 3000
                      - 3001
                      - 3002
                      - 3003
                      - 3004
                      - 3005
                      - 3006
                      - 3007
                      - 3008
                      - 3009
                      - 3010
                      - 3011
                      - 3012
                      - 3013
                      - 3014
                      - 3015
                      - 3016
                      - 3017
                      - 3018
                      - 3019
                      - 3020
                      - 3021
                      - 3022
                      - 3023
                      - 3024
                      - 3025
                      - 3026
                      - 3027
                      - 3028
                      - 9000
                      - 9001
                      - 9002
                      - 9003
                      - 9004
                      - 9005
                      - 9006
                      - 9007
                      - 9008
                      - 9009
                      - 9010
                      - 9011
                      - 9012
                      - 9013
                      - 9014
                      - 9015
                      - 9016
                      - 9017
                      - 9018
                      - 9019
                      - 9020
                      - 9021
                      - 9022
                      - 9023
                      - 9024
                      - 9025
                      - 9026
                      - 9027
                      - 9028
                      - 9029
                      - 9030
                      - 9031
                      - 9032
                      - 9033
                      - 9034
                      - 9035
                      - 9036
                      - 9037
                      - 9038
                      - 9039
                      - 9040
                      - 9041
                      - 9042
                      - 9043
                      - 9044
                      - 9045
                      - 9046
                      - 9047
                      - 9048
                      - 9049
                      - 9050
                      - 9051
                      - 9052
                      - 9053
                      - 9054
                      - 9055
                      - 9056
                      - 9057
                      - 9058
                      - 9059
                    type: integer
                  group-name:
                    description: Name of a group involved in the event.
                    type: string
                  group_id:
                    description: ID of a group involved in the event.
                    type: integer
                  id:
                    description: Event's unique ID in OneLogin. Autogenerated by OneLogin.
                    type: integer
                  ipaddr:
                    description: IP address of the machine used to trigger the event.
                    type: string
                  mapping_id:
                    type: integer
                  notes:
                    description: More details about the event.
                    type: string
                  object_id:
                    type: integer
                  otp_device_id:
                    description: ID of a device involved in the event.
                    type: integer
                  otp_device_name:
                    description: Name of a device involved in the event.
                    type: string
                  param:
                    type: string
                  policy_id:
                    description: ID of the policy involved in the event.
                    type: integer
                  policy_name:
                    description: Name of the policy involved in the event.
                    type: string
                  policy_type:
                    type: string
                  privilege_id:
                    type: integer
                  proxy_ip:
                    type: string
                  radius_config_id:
                    type: integer
                  resolved_at:
                    type: string
                  resource_type_id:
                    description: >-
                      ID of the resource (user, role, group, and so forth)
                      associated with the event.
                    type: integer
                  risk_cookie_id:
                    description: Identifier for risk cookie
                    type: string
                  risk_reasons:
                    type: string
                  risk_score:
                    type: integer
                  role_id:
                    description: ID of a role involved in the event.
                    type: integer
                  role_name:
                    description: Name of a role involved in the event.
                    type: string
                  service_directory_id:
                    type: integer
                  solved:
                    type: boolean
                  trusted_idp_id:
                    type: integer
                  user_field_id:
                    type: integer
                  user_id:
                    description: ID of the user that was acted upon to trigger the event.
                    type: integer
                  user_name:
                    description: Name of the user that was acted upon to trigger the event.
                    type: string
                type: object
              status:
                example:
                  code: 200
                  error: false
                  message: success
                  type: success
                properties:
                  code:
                    example: 200
                    type: integer
                  error:
                    example: false
                    type: boolean
                  message:
                    example: Success
                    type: string
                  type:
                    example: Success
                    type: string
                required:
                  - code
                  - message
                type: object
            type: object
        '400':
          description: Bad Request
          examples:
            application/json:
              code: 400
              error: true
              message: Request Failure
              type: bad request
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
        '401':
          description: Unauthorized
          examples:
            application/json:
              code: 401
              error: true
              message: Unauthorized Error
              type: Unauthorized
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
        '404':
          description: Not Found
          examples:
            application/json:
              code: 404
              error: true
              message: No Route Exists
              type: Not Found
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
      security:
        - OAuth2:
            - Read Users
            - Manage users
            - Manage All
            - Read All
      tags:
        - Events
      description: Get Event By ID
      operationId: getEventById
      summary: Get Event by ID
  /api/1/groups:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            properties:
              data:
                items:
                  properties:
                    id:
                      description: Group's unique Onelogin ID
                      example: 425741
                      type: integer
                    name:
                      description: Group name
                      example: group.security.policy.default
                      type: string
                    reference:
                      description: Deprecated. Will always show the attribute nil="true".
                      example: '""'
                      type: string
                  type: object
                type: array
              status:
                properties:
                  code:
                    example: 200
                    type: integer
                  error:
                    example: false
                    type: boolean
                  message:
                    example: Success
                    type: string
                  type:
                    example: Success
                    type: string
                required:
                  - code
                  - message
                type: object
            type: object
        '400':
          description: Bad Request
          examples:
            application/json:
              code: 400
              error: true
              message: Request Failure
              type: bad request
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
        '401':
          description: Unauthorized
          examples:
            application/json:
              code: 401
              error: true
              message: Unauthorized Error
              type: Unauthorized
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
      security:
        - OAuth2:
            - Manage users
            - Manage All
            - Read All
            - Read Users
      tags:
        - Groups
      description: Get Groups
      operationId: getGroups
      summary: Get Groups
  '/api/1/groups/{group_id}':
    get:
      produces:
        - application/json
      parameters:
        - in: path
          name: group_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            properties:
              data:
                items:
                  properties:
                    id:
                      description: Group's unique Onelogin ID
                      example: 425741
                      type: integer
                    name:
                      description: Group name
                      example: group.security.policy.default
                      type: string
                    reference:
                      description: Deprecated. Will always show the attribute nil="true".
                      example: '""'
                      type: string
                  type: object
                type: array
              status:
                properties:
                  code:
                    example: 200
                    type: integer
                  error:
                    example: false
                    type: boolean
                  message:
                    example: Success
                    type: string
                  type:
                    example: Success
                    type: string
                required:
                  - code
                  - message
                type: object
            type: object
        '400':
          description: Bad Request
          examples:
            application/json:
              code: 400
              error: true
              message: Request Failure
              type: bad request
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
        '401':
          description: Unauthorized
          examples:
            application/json:
              code: 401
              error: true
              message: Unauthorized Error
              type: Unauthorized
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
        '404':
          description: Not Found
          examples:
            application/json:
              code: 404
              error: true
              message: No Route Exists
              type: Not Found
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
      security:
        - OAuth2:
            - Read Users
            - Manage users
            - Manage All
            - Read All
      tags:
        - Groups
      description: Get Group By ID
      operationId: getGroupById
      summary: Get Group by ID
  /api/1/invites/get_invite_link:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
        - in: body
          name: body
          schema:
            properties:
              email:
                description: >-
                  Set to the user email address to generate an invite link. The
                  value is case sensitive.
                example: jennifer.hasenfus@mycompany.com
                type: string
            type: object
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              data:
                - >-
                  http://app.onelogin.com/password/reset?token=1111111cf892e56957e35c9c12f128483031dd11
              status:
                code: 200
                error: false
                message: success
                type: success
          schema:
            properties:
              data:
                description: Provides reset password link
                items:
                  type: string
                type: array
              status:
                properties:
                  code:
                    example: 200
                    type: integer
                  error:
                    example: false
                    type: boolean
                  message:
                    example: Success
                    type: string
                  type:
                    example: Success
                    type: string
                required:
                  - code
                  - message
                type: object
            type: object
        '400':
          description: Bad Request
          examples:
            application/json:
              code: 400
              error: true
              message: Request Failure
              type: bad request
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
        '401':
          description: Unauthorized
          examples:
            application/json:
              code: 401
              error: true
              message: Unauthorized Error
              type: Unauthorized
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
      security:
        - OAuth2:
            - Manage All
      tags:
        - Invite Links
      description: Generate Invite Link
      operationId: getInviteLink
      summary: Generate Invite Link
  /api/1/invites/send_invite_link:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
        - in: body
          name: body
          schema:
            properties:
              email:
                description: >-
                  Set to the user email address to generate an invite link. The
                  value is case sensitive.
                example: jennifer.hasenfus@mycompany.com
                type: string
              personal_email:
                description: >-
                  To send an invite email to a different address than the one
                  provided in email, provide it here. The invite link is sent to
                  this address instead.
                example: jennifer.hasenfus@mail.com
                type: string
            type: object
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              status:
                code: 200
                error: false
                message: Email sent successfully to jennifer.hasenfus@mail.com
                type: success
          schema:
            properties:
              status:
                properties:
                  code:
                    example: 200
                    type: integer
                  error:
                    example: false
                    type: boolean
                  message:
                    example: Success
                    type: string
                  type:
                    example: Success
                    type: string
                required:
                  - code
                  - message
                type: object
            type: object
        '400':
          description: Bad Request
          examples:
            application/json:
              code: 400
              error: true
              message: Request Failure
              type: bad request
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
        '401':
          description: Unauthorized
          examples:
            application/json:
              code: 401
              error: true
              message: Unauthorized Error
              type: Unauthorized
          schema:
            properties:
              code:
                example: 200
                type: integer
              error:
                example: false
                type: boolean
              message:
                example: Success
                type: string
              type:
                example: Success
                type: string
            required:
              - code
              - message
            type: object
      security:
        - OAuth2:
            - Manage All
      tags:
        - Invite Links
      description: Send Invite Link
      operationId: sendInviteLink
      summary: Send  Invite Link
  /api/1/privileges:
    get:
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
      responses:
        '200':
          description: Successful response
          schema:
            items:
              properties:
                description:
                  example: Can administer users
                  type: string
                id:
                  example: 2c963197-bee2-4607-abc0-4786f1bfa55a
                  type: string
                name:
                  example: User Administrator
                  type: string
                privilege:
                  properties:
                    Statement:
                      items:
                        properties:
                          Action:
                            description: >-
                              An array of strings that represent actions within
                              OneLogin. Actions are prefixed with the class of
                              object they are related to and followed by a
                              specific action for the given class.

                              e.g. users:List, where the class is users and the
                              specific action is List. Don’t mix classes within
                              an Action array. To create a privilege that
                              includes multiple different classes, create
                              multiple statements. A wildcard * that includes
                              all actions is supported. Use wildcards to create
                              a Super User privilege.
                            example:
                              - 'Users:Delete'
                              - 'Users:ResetPassword'
                              - 'Users:Unlock'
                              - 'Users:Get'
                            items:
                              enum:
                                - 'Apps:Create'
                                - 'Apps:Delete'
                                - 'Apps:List'
                                - 'Apps:Get'
                                - 'Apps:Update'
                                - 'Apps:ManageConnectors'
                                - 'Apps:ManageRoles'
                                - 'Apps:ManageTabs'
                                - 'Apps:ManageUsers'
                                - 'Apps:ReapplyMappings'
                                - 'Users:Create'
                                - 'Users:Delete'
                                - 'Users:List'
                                - 'Users:Get'
                                - 'Users:Update'
                                - 'Users:AssumeUser'
                                - 'Users:ManageApps'
                                - 'Users:Unlock'
                                - 'Users:GenerateTempMfaToken'
                                - 'Users:ResetPassword'
                                - 'Users:ReapplyMappings'
                                - 'Users:ManageLicense'
                                - 'Users:Invite'
                                - 'Users:ManageRoles'
                                - 'Roles:Create'
                                - 'Roles:Get'
                                - 'Roles:List'
                                - 'Roles:Update'
                                - 'Roles:Delete'
                                - 'Roles:ManageUsers'
                                - 'Roles:ManageApps'
                                - 'Reports:Create'
                                - 'Reports:Get'
                                - 'Reports:List'
                                - 'Reports:Update'
                                - 'Reports:Delete'
                                - 'Reports:Clone'
                                - 'Events:Get'
                                - 'Events:List'
                                - 'Groups:Create'
                                - 'Groups:Get'
                                - 'Groups:List'
                                - 'Groups:Update'
                                - 'Groups:Delete'
                                - 'Policies:Create'
                                - 'Policies:Get'
                                - 'Policies:List'
                                - 'Policies:Update'
                                - 'Policies:Delete'
                                - 'Policies:SetDefault'
                              type: string
                            type: array
                          Effect:
                            description: >-
                              Set to “Allow.” By default, all actions are
                              denied, this Statement allows the listed actions
                              to be executed.
                            example: Allow
                            type: string
                          Scope:
                            description: >-
                              Target the privileged action against specific
                              resources with the scope.

                              The scope pattern is the class of object used by
                              the Action, followed by an ID that represents a
                              resource in OneLogin.

                              e.g. apps/1234, where apps is the class and 1234
                              is the ID of an app.

                              The wildcard * is supported and indicates that all
                              resources of the class type declared, in the
                              Action, are in scope.

                              The Action and Scope classes must match. However,
                              there is an exception, a scope of roles/{role_id}
                              can be combined with Actions on the user or app
                              class. The exception allows you to target groups
                              of users or apps with specific actions.
                            items:
                              example: '*'
                              type: string
                            type: array
                        required:
                          - Effect
                          - Action
                          - Scope
                        type: object
                      type: array
                    Version:
                      example: '2018-05-18'
                      type: string
                  type: object
              required:
                - name
                - privilege
              type: object
            type: array
        '401':
          description: Unauthorized
          examples:
            application/json:
              message: This request requires Authentication
              name: UnauthorizedError
              statusCode: 401
          schema:
            properties:
              message:
                description: Description of Error
                type: string
              name:
                description: Error Code Name
                type: string
              statusCode:
                description: >-
                  HTTP error code
                  https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
                type: integer
            type: object
      security:
        - OAuth2:
            - Manage All
      tags:
        - Privileges
      description: List Privileges
      operationId: listPriveleges
      summary: List Privileges
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
        - in: body
          name: body
          schema:
            properties:
              description:
                example: Can administer users
                type: string
              id:
                example: 2c963197-bee2-4607-abc0-4786f1bfa55a
                type: string
              name:
                example: User Administrator
                type: string
              privilege:
                properties:
                  Statement:
                    items:
                      properties:
                        Action:
                          description: >-
                            An array of strings that represent actions within
                            OneLogin. Actions are prefixed with the class of
                            object they are related to and followed by a
                            specific action for the given class.

                            e.g. users:List, where the class is users and the
                            specific action is List. Don’t mix classes within an
                            Action array. To create a privilege that includes
                            multiple different classes, create multiple
                            statements. A wildcard * that includes all actions
                            is supported. Use wildcards to create a Super User
                            privilege.
                          example:
                            - 'Users:Delete'
                            - 'Users:ResetPassword'
                            - 'Users:Unlock'
                            - 'Users:Get'
                          items:
                            enum:
                              - 'Apps:Create'
                              - 'Apps:Delete'
                              - 'Apps:List'
                              - 'Apps:Get'
                              - 'Apps:Update'
                              - 'Apps:ManageConnectors'
                              - 'Apps:ManageRoles'
                              - 'Apps:ManageTabs'
                              - 'Apps:ManageUsers'
                              - 'Apps:ReapplyMappings'
                              - 'Users:Create'
                              - 'Users:Delete'
                              - 'Users:List'
                              - 'Users:Get'
                              - 'Users:Update'
                              - 'Users:AssumeUser'
                              - 'Users:ManageApps'
                              - 'Users:Unlock'
                              - 'Users:GenerateTempMfaToken'
                              - 'Users:ResetPassword'
                              - 'Users:ReapplyMappings'
                              - 'Users:ManageLicense'
                              - 'Users:Invite'
                              - 'Users:ManageRoles'
                              - 'Roles:Create'
                              - 'Roles:Get'
                              - 'Roles:List'
                              - 'Roles:Update'
                              - 'Roles:Delete'
                              - 'Roles:ManageUsers'
                              - 'Roles:ManageApps'
                              - 'Reports:Create'
                              - 'Reports:Get'
                              - 'Reports:List'
                              - 'Reports:Update'
                              - 'Reports:Delete'
                              - 'Reports:Clone'
                              - 'Events:Get'
                              - 'Events:List'
                              - 'Groups:Create'
                              - 'Groups:Get'
                              - 'Groups:List'
                              - 'Groups:Update'
                              - 'Groups:Delete'
                              - 'Policies:Create'
                              - 'Policies:Get'
                              - 'Policies:List'
                              - 'Policies:Update'
                              - 'Policies:Delete'
                              - 'Policies:SetDefault'
                            type: string
                          type: array
                        Effect:
                          description: >-
                            Set to “Allow.” By default, all actions are denied,
                            this Statement allows the listed actions to be
                            executed.
                          example: Allow
                          type: string
                        Scope:
                          description: >-
                            Target the privileged action against specific
                            resources with the scope.

                            The scope pattern is the class of object used by the
                            Action, followed by an ID that represents a resource
                            in OneLogin.

                            e.g. apps/1234, where apps is the class and 1234 is
                            the ID of an app.

                            The wildcard * is supported and indicates that all
                            resources of the class type declared, in the Action,
                            are in scope.

                            The Action and Scope classes must match. However,
                            there is an exception, a scope of roles/{role_id}
                            can be combined with Actions on the user or app
                            class. The exception allows you to target groups of
                            users or apps with specific actions.
                          items:
                            example: '*'
                            type: string
                          type: array
                      required:
                        - Effect
                        - Action
                        - Scope
                      type: object
                    type: array
                  Version:
                    example: '2018-05-18'
                    type: string
                type: object
            required:
              - name
              - privilege
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            properties:
              id:
                description: Privilege Id
                example: 5e43a548-e9c6-47be-9341-92160902f7a6
                type: string
            type: object
        '400':
          description: Bad Request
          examples:
            application/json:
              message: >-
                The request could not be understood by the server due to
                malformed syntax: Statement required Action array
              name: BadRequestError
              statusCode: 400
          schema:
            properties:
              message:
                description: Description of Error
                type: string
              name:
                description: Error Code Name
                type: string
              statusCode:
                description: >-
                  HTTP error code
                  https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
                type: integer
            type: object
        '401':
          description: Unauthorized
          examples:
            application/json:
              message: This request requires Authentication
              name: UnauthorizedError
              statusCode: 401
          schema:
            properties:
              message:
                description: Description of Error
                type: string
              name:
                description: Error Code Name
                type: string
              statusCode:
                description: >-
                  HTTP error code
                  https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
                type: integer
            type: object
      security:
        - OAuth2:
            - Manage All
      tags:
        - Privileges
      description: Create privilege
      operationId: createPrivilege
      summary: Create a Privilege
  '/api/1/privileges/{privilege_id}':
    delete:
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
        - in: path
          name: privilege_id
          required: true
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          examples:
            application/json:
              message: This request requires Authentication
              name: UnauthorizedError
              statusCode: 401
          schema:
            properties:
              message:
                description: Description of Error
                type: string
              name:
                description: Error Code Name
                type: string
              statusCode:
                description: >-
                  HTTP error code
                  https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
                type: integer
            type: object
        '404':
          description: Not Found
          examples:
            application/json:
              message: >-
                The resource can't be found or the server has not found anything
                matching the Request-URI
              name: NotFoundError
              statusCode: 404
          schema:
            properties:
              message:
                description: Description of Error
                type: string
              name:
                description: Error Code Name
                type: string
              statusCode:
                description: >-
                  HTTP error code
                  https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
                type: integer
            type: object
      security:
        - OAuth2:
            - Manage All
      tags:
        - Privileges
      description: Delete
      operationId: deletePrivilege
      summary: Delete a Privilege
    get:
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
        - in: path
          name: privilege_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            properties:
              description:
                example: Can administer users
                type: string
              id:
                example: 2c963197-bee2-4607-abc0-4786f1bfa55a
                type: string
              name:
                example: User Administrator
                type: string
              privilege:
                properties:
                  Statement:
                    items:
                      properties:
                        Action:
                          description: >-
                            An array of strings that represent actions within
                            OneLogin. Actions are prefixed with the class of
                            object they are related to and followed by a
                            specific action for the given class.

                            e.g. users:List, where the class is users and the
                            specific action is List. Don’t mix classes within an
                            Action array. To create a privilege that includes
                            multiple different classes, create multiple
                            statements. A wildcard * that includes all actions
                            is supported. Use wildcards to create a Super User
                            privilege.
                          example:
                            - 'Users:Delete'
                            - 'Users:ResetPassword'
                            - 'Users:Unlock'
                            - 'Users:Get'
                          items:
                            enum:
                              - 'Apps:Create'
                              - 'Apps:Delete'
                              - 'Apps:List'
                              - 'Apps:Get'
                              - 'Apps:Update'
                              - 'Apps:ManageConnectors'
                              - 'Apps:ManageRoles'
                              - 'Apps:ManageTabs'
                              - 'Apps:ManageUsers'
                              - 'Apps:ReapplyMappings'
                              - 'Users:Create'
                              - 'Users:Delete'
                              - 'Users:List'
                              - 'Users:Get'
                              - 'Users:Update'
                              - 'Users:AssumeUser'
                              - 'Users:ManageApps'
                              - 'Users:Unlock'
                              - 'Users:GenerateTempMfaToken'
                              - 'Users:ResetPassword'
                              - 'Users:ReapplyMappings'
                              - 'Users:ManageLicense'
                              - 'Users:Invite'
                              - 'Users:ManageRoles'
                              - 'Roles:Create'
                              - 'Roles:Get'
                              - 'Roles:List'
                              - 'Roles:Update'
                              - 'Roles:Delete'
                              - 'Roles:ManageUsers'
                              - 'Roles:ManageApps'
                              - 'Reports:Create'
                              - 'Reports:Get'
                              - 'Reports:List'
                              - 'Reports:Update'
                              - 'Reports:Delete'
                              - 'Reports:Clone'
                              - 'Events:Get'
                              - 'Events:List'
                              - 'Groups:Create'
                              - 'Groups:Get'
                              - 'Groups:List'
                              - 'Groups:Update'
                              - 'Groups:Delete'
                              - 'Policies:Create'
                              - 'Policies:Get'
                              - 'Policies:List'
                              - 'Policies:Update'
                              - 'Policies:Delete'
                              - 'Policies:SetDefault'
                            type: string
                          type: array
                        Effect:
                          description: >-
                            Set to “Allow.” By default, all actions are denied,
                            this Statement allows the listed actions to be
                            executed.
                          example: Allow
                          type: string
                        Scope:
                          description: >-
                            Target the privileged action against specific
                            resources with the scope.

                            The scope pattern is the class of object used by the
                            Action, followed by an ID that represents a resource
                            in OneLogin.

                            e.g. apps/1234, where apps is the class and 1234 is
                            the ID of an app.

                            The wildcard * is supported and indicates that all
                            resources of the class type declared, in the Action,
                            are in scope.

                            The Action and Scope classes must match. However,
                            there is an exception, a scope of roles/{role_id}
                            can be combined with Actions on the user or app
                            class. The exception allows you to target groups of
                            users or apps with specific actions.
                          items:
                            example: '*'
                            type: string
                          type: array
                      required:
                        - Effect
                        - Action
                        - Scope
                      type: object
                    type: array
                  Version:
                    example: '2018-05-18'
                    type: string
                type: object
            required:
              - name
              - privilege
            type: object
        '401':
          description: Unauthorized
          examples:
            application/json:
              message: This request requires Authentication
              name: UnauthorizedError
              statusCode: 401
          schema:
            properties:
              message:
                description: Description of Error
                type: string
              name:
                description: Error Code Name
                type: string
              statusCode:
                description: >-
                  HTTP error code
                  https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
                type: integer
            type: object
        '404':
          description: Not Found
          examples:
            application/json:
              message: >-
                The resource can't be found or the server has not found anything
                matching the Request-URI
              name: NotFoundError
              statusCode: 404
          schema:
            properties:
              message:
                description: Description of Error
                type: string
              name:
                description: Error Code Name
                type: string
              statusCode:
                description: >-
                  HTTP error code
                  https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
                type: integer
            type: object
      security:
        - OAuth2:
            - Manage All
      tags:
        - Privileges
      description: Get a Privilige
      operationId: getPrivilege
      summary: Get a Privilege
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-Type
          type: string
          x-example: application/json
        - in: path
          name: privilege_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            properties:
              description:
                example: Can administer users
                type: string
              id:
                example: 2c963197-bee2-4607-abc0-4786f1bfa55a
                type: string
              name:
                example: User Administrator
                type: string
              privilege:
                properties:
                  Statement:
                    items:
                      properties:
                        Action:
                          description: >-
                            An array of strings that represent actions within
                            OneLogin. Actions are prefixed with the class of
                            object they are related to and followed by a
                            specific action for the given class.

                            e.g. users:List, where the class is users and the
                            specific action is List. Don’t mix classes within an
                            Action array. To create a privilege that includes
                            multiple different classes, create multiple
                            statements. A wildcard * that includes all actions
                            is supported. Use wildcards to create a Super User
                            privilege.
                          example:
                            - 'Users:Delete'
                            - 'Users:ResetPassword'
                            - 'Users:Unlock'
                            - 'Users:Get'
                          items:
                            enum:
                              - 'Apps:Create'
                              - 'Apps:Delete'
                              - 'Apps:List'
                              - 'Apps:Get'
                              - 'Apps:Update'
                              - 'Apps:ManageConnectors'
                              - 'Apps:ManageRoles'
                              - 'Apps:ManageTabs'
                              - 'Apps:ManageUsers'
                              - 'Apps:ReapplyMappings'
                              - 'Users:Create'
                              - 'Users:Delete'
                              - 'Users:List'
                              - 'Users:Get'
                              - 'Users:Update'
                              - 'Users:AssumeUser'
                              - 'Users:ManageApps'
                              - 'Users:Unlock'
                              - 'Users:GenerateTempMfaToken'
                              - 'Users:ResetPassword'
                              - 'Users:ReapplyMappings'
                              - 'Users:ManageLicense'
                              - 'Users:Invite'
                              - 'Users:ManageRoles'
                              - 'Roles:Create'
                              - 'Roles:Get'
                              - 'Roles:List'
                              - 'Roles:Update'
                              - 'Roles:Delete'
                              - 'Roles:ManageUsers'
                              - 'Roles:ManageApps'
                              - 'Reports:Create'
                              - 'Reports:Get'
                              - 'Reports:List'
                              - 'Reports:Update'
                              - 'Reports:Delete'
                              - 'Reports:Clone'
                              - 'Events:Get'
                              - 'Events:List'
                              - 'Groups:Create'
                              - 'Groups:Get'
                              - 'Groups:List'
                              - 'Groups:Update'
                              - 'Groups:Delete'
                              - 'Policies:Create'
                              - 'Policies:Get'
                              - 'Policies:List'
                              - 'Policies:Update'
                              - 'Policies:Delete'
                              - 'Policies:SetDefault'
                            type: string
                          type: array
                        Effect:
                          description: >-
                            Set to “Allow.” By default, all actions are denied,
                            this Statement allows the listed actions to be
                            executed.
                          example: Allow
                          type: string
                        Scope:
                          description: >-
                            Target the privileged action against specific
                            resources with the scope.

                            The scope pattern is the class of object used by the
                            Action, followed by an ID that represents a resource
                            in OneLogin.

                            e.g. apps/1234, where apps is the class and 1234 is
                            the ID of an app.

                            The wildcard * is supported and indicates that all
                            resources of the class type declared, in the Action,
                            are in scope.

                            The Action and Scope classes must match. However,
                            there is an exception, a scope of roles/{role_id}
                            can be combined with Actions on the user or app
                            class. The exception allows you to target groups of
                            users or apps with specific actions.
                          items:
                            example: '*'
                            type: string
                          type: array
                      required:
                        - Effect
                        - Action
                        - Scope
                      type: object
                    type: array
                  Version:
                    example: '2018-05-18'
                    type: string
                type: object
            required:
              - name
              - privilege
            type: object
      responses:
        '200':
          description: Successful response
          examples:
            application/json:
              id: 5e43a548-e9c6-47be-9341-92160902f7a6
          schema:
            properties:
              id:
                description: Privilege ID
                type: string
            type: object
        '400':
          description: Bad Request
          examples:
            application/json:
              message: >-
                The request could not be understood by the server due to
                malformed syntax: Statement required Action array
              name: BadRequestError
              statusCode: 400
          schema:
            properties:
              message:
                description: Description of Error
                type: string
              name:
                description: Error Code Name
                type: string
              statusCode:
                description: >-
                  HTTP error code
                  https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
                type: integer
            type: object
        '401':
          description: Unauthorized
          examples:
            application/json:
              message: This request requires Authentication
[...]
